$bg-color: #fff !default;
$text-color: #657189 !default;
$header-bg-color: #9e419c !default;
$header-text-color: #fff;
$box-header-bg-color: #ebf0f4 !default;
$box-header-text-color: #ff952d !default;
$li-border-color: #dae4ee !default;
$container: 1180px !default;
$tools-ba-color: #e5f0fa !default;
$telefoonBoek-bg-color: #00c4e6 !default;
$btn-bg-color: #44b9f6 !default;
$btn-color: #fff;
$bold-font: "./fonts/OpenSans-Bold.ttf";
$regular-font: "./fonts/OpenSans-Regular.ttf";
